body{
    background: #fafafa;
    color: #080808;
    margin-top: 5rem;
	margin:0;
    padding-bottom: 0;
    font: 15px/1.5 Arial,sans-serif;
    color: #080808;   
    background-image: url(../images/fast.png);
    opacity: 1;
}
h1, h2, h3, h4, h5, h6 {
  color: #0c0c0c;
}
.container{
	width: 80%;
    margin: auto;
    
}
input,textarea {
    display:block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	width:80%;
    width: 900px;
}
.button-1{
    height: 37px;
	background-color:#1c4c6d;
    padding-left:20px;
    padding-right: 20px;
    cursor: pointer;
    font-weight:bolder;
    border: none;
    border-radius: 3px;
}
.button-2{
    border: none;
	height: 37px;
	background-color:#1c4c6d;
    padding-left:20px;
    padding-right: 20px;
    cursor: pointer;
    font-weight:bolder;
    margin-right: 80px;
    margin-top: 30px;
    float: right;
    border-radius: 3px;
}
.button-3{
    border: none;
    height: 37px;
	background-color:#991313;
    padding-left:20px;
    padding-right: 20px;
    cursor: pointer;
    font-weight:bolder;
    margin-right: 80px;
    margin-top: 30px;
    float: right;
    border-radius: 3px;
}

a{
    text-decoration: none;  
    color: #cccccc;
} 
 hr{
 	width: 865px;
 	margin:0;
 }

 .head{
    margin: 0;
    padding:20px; 
 }
article{
    background: #ffffff;
    width: 700px;
 	padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 16px;
    border: 1px solid #b9b1b1;
    border-radius: 3px;
}
table{
    margin-left:10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
 }
td{
     padding: 10px;
} 
tr{
 	padding: 20px;
 	margin-left: 5px;
 	border:1px solid #e3e3e3;
}
header .head a{
 	text-decoration: none;
 }
 p{
     padding-left: 20px;
     /* font-weight: bolder; */
     font-style: italic;
 }
a:hover{
    color: #000407;
	font-weight: bold;
    text-decoration: none;
}
.content-section{
    float: right;
    background: #f8f5f5;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}
.content-section-1{
   
    margin-right: 300px;
    background: #331d1d;
    padding: 10px 20px ;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    float: left;
}
.date{
    cursor: pointer;
    font-weight:bold;
    margin-right: 80px;
    margin-top: 30px;
    float: right;
}
.account-img{
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  }

.home-page{
	background-image: url(../images/image-5.jpg);
    text-align: center;
    opacity: 5;
}
#container-1 {
	width:100%;
    margin: 0 auto;
}
.home-page p {
    margin-top: 10px;
	color:  #000;
	font-family:  "Poppins",sans-serif;
	font-size: 24px;
	max-width: 800px;
	/* text-transform: uppercase; */
	line-height: 1.5em;
	margin: 3em auto 3em auto;
}

.home-content{
	background-color: #00000006;
}
.menu{
	font:1em Georgia;
	list-style: none;
    padding: 0;
	background-color:none;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
.menu li{
	display:inline-block;
	padding: 5px 15px 4px 15px;
}
.menu li a{
	color: #333333;
	text-decoration: none;
	line-height: 3em;
}
.menu li a:hover {
	color: #992211;
}
.menu li.selected{
	background:#333333;
}
.menu li.selected a{
	color:#fff;
}
.company-banner{
    margin-left: 50px;
    margin-right: 500px;
    margin-top: 10px;
    max-width: 200px;
    min-height: 165px; 
    padding: 0px;
    background-image: url(../images/image-0.png);
    
}
#logo{  
    color: #000; 
}
.content-section-3{
    float: right;
    background: #cac4c4;
    padding: 10px 10px;
    border: 1px solid #3d3636;
    border-radius: 3px;
}
#order{
    font-weight: bolder;
}
#logout{
    float: right;
    text-shadow: 3px 2px rgb(158, 9, 21);
    margin-top: 10px;
    margin-right: 100px;
    
}